.authfields{	
	width:70%;
	height:25%;
	border:1px solid black;
	overflow:hidden;
	box-shadow: black 0 3px 8px;
	border-radius: 8px;
	background:#E0E0E0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-box-shadow: black 0 3px 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: black 0 3px 8px;
	-webkit-border-radius: 8px;
	font-family: 'trebuchet MS', 'Lucida Sans', Arial;
	font-size:25px;
	margin-top:33%;
	margin-left:15%
}

.authfields input{	
	font-size:19px;
}

.authfields td{	
	font-size:19px;
}
	
.footer{
	position:absolute;
	top:87%;
	width:99%;
	font-size:0.55em;
	margin-top:3.5%;
	border-top: 1px solid #ccc;
	padding-top:7px;
	font-family: 'trebuchet MS', 'Lucida Sans', Arial;
	font-size:20px;
}

img{
	border:none;
}

.button, .button:visited{
	background: #e4e4e4;
	display: inline-block; 
	padding: 5px 10px 6px; 
	color:  #f2f2f2; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
	text-align:center;
	font-family: 'trebuchet MS', 'Lucida Sans', Arial;
    font-size: 19px;
}
    
.button:active	{ top: 1px; }
.gray.button, .gray.button:visited	{
	background: -moz-linear-gradient(center bottom , #DDDDDD, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    color: #333333;
    text-shadow: 0 1px 1px #FFFFFF;
}

.gray.button.form, .gray.button.form:visited	{
	margin:3px 3px 3px 3px ;
	background: -moz-linear-gradient(center bottom , #DDDDDD, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    color: #333333;
    text-shadow: 0 1px 1px #FFFFFF;
    font-size: 15px;
}

.actionbar{
	/*position:absolute;*/
	background:#FFFFFF;
	top:3px;
	height:80px;
	border-bottom: 1px solid gray;
	width:99%;
}
