
body { 
	font: 13px  Verdana; height: 100%; margin:0; padding:0;
	min-width:795px;
	width:100%;
	background: rgb(242,246,248); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2I1YzZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 36%, rgba(216,225,231,1) 38%, rgba(224,239,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,246,248,1)), color-stop(36%,rgba(181,198,208,1)), color-stop(38%,rgba(216,225,231,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 36%,rgba(216,225,231,1) 38%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 36%,rgba(216,225,231,1) 38%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 36%,rgba(216,225,231,1) 38%,rgba(224,239,249,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 36%,rgba(216,225,231,1) 38%,rgba(224,239,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-8 */

}
#wrapper{
	 
}
#header{
	width:100%;
	height:50px;
	background-color: rgba(255, 255, 255, 0.84);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    
}
.clear{
	clear:both;
}
#content{
	width:100%;
	padding-top:150px;
	position:relative;
}
#left_content{
	width:39%;
	float:left;
	height:310px; 
}

#right_content{
	width:61%;
	float:right;
}

#login_view_container{
	margin-left:10%;
	border-style:solid;
	border-width: 5px;
	border-color: rgba(240, 240, 240, 0.9);
	background-color: rgba(255, 255, 255, 1);
	width:400px;
	height:300px;
	-moz-box-shadow: 0 0 10px  rgba(108, 166, 205, 0.4); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px  rgba(108, 166, 205, 0.4); /* Для Safari и Chrome */
    box-shadow: 0 0 10px  rgba(108, 166, 205, 0.4); /* Параметры тени */
}

#login_view{
}
.font{
	font-family:Arial, Helvetica, sans-serif;
}
.textbox{	
	width:200px; height: 20px; padding: 3px 3px 3px 5px;
	border: 1px solid gray;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.textbox:focus{
	outline-style: none;
	 border: 1px solid #b2d1ff;
}

/*Кнопка submit в логин и рег форме*/ 
.buttonBlue {
   -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0; 
	background-color:#C2C2C2;
	border:1px solid #BEBEBE; 	 
	padding:2px 6px;
	height:28px; 
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 
}
.buttonBlue:hover {
    cursor:pointer;
    background-color:#CFCFCF
}

